# Gitignore

# Bazel symlinks
/bazel-*

# Bazel plugin for IntelliJ
/.ijwb/

# Bazel plugin for Android Studio
/.aswb/

# General idea files
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml